.active-icon svg {
    fill: $activate-icon-fill;
    &:hover {
        fill: $activate-icon-fill;
    }
}
.inactive-icon svg {
    fill: $inactivate-icon-fill;
    &:hover {
        fill: $inactivate-icon-fill;
    }
}

.h1, h1{
  font-size: 1.875rem !important;
}

.pointer {
  cursor: pointer !important;
}

.absolute-center-x {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

// .jd-toast.alert {
//   z-index: 1054;
//   width: 40%;
//   top: 1.8rem;
//   }

.radio-red {
  color: $color-red;
  &::before {
    border-color: $color-red;
  }
  &::after {
    border-color: $color-red;
  //  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.1' fill='%23c21020'/%3E%3C/svg%3E") !important;
  }
}
.radio-green {
  color: $color-primary;
  &::before {
    border-color: $color-primary;
  }
  &::after {
    border-color: $color-primary;
  
  }
}
.btn-blue {
  color: $color-white;
  background-color: $color-blue;
  border-color: $color-blue;
  &:hover {
    color: $color-white;
  }
}

.btn-red {
  color: $color-white;
  background-color: $color-red;
  border-color: $color-red;
  &:hover {
    color: $color-white;
  }
}

.main-container {
  background-color: $color-white;
  // height: calc(100vh - 150px);
}

.text-green {
  color: $color-primary;
}

.text-red {
  color: $color-red;
}

.disable-svg {
  background: none !important;
  pointer-events: none !important;
  svg {
    opacity: 0.5;
  }
}

.uxf-btn-icon:hover {
  opacity: 0.8;
  background: none !important;
  svg {
    fill: currentColor !important;
  }
}

.btn-outline-primary:hover {
  svg {
    fill: $color-white;
  }
}

.btn-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
}

// Inline Alert

.inline-alert {
  display: flex;
  color: #fff;
  padding:  8px;
  width: 100%;

  svg {
    margin: 0 8px;
  }
}

// Input Type Number Arrow remove

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.dataTables_disable > tbody{
  display: none ;


}

.uxf-btn-toggle:not(:disabled):not(.disabled).active {
    background: #ffde00;
    border-color: #ffde00;
    color: black;
}

.uxf-btn-toggle.active:not(:disabled):not(.disabled) {
  &:hover {
    color: white;
  }
}


// #DataTables_Table_0_wrapper > div:nth-child(2) > div {
//   height: calc(100vh - 330px) !important;
// }

.role-title {
  position: absolute;
  right: 70px;
  top: 15%;
  color: $color-gray-800;
}
.uxf-header-title-username
{
  text-decoration: none !important;
  margin-right: 4px;
  color: $color-gray-800 !important;
  font-size: 12px;
}
.uxf-header-title {
  margin-right: 22px;
}
.cms-title{
  color: #367c2b;
  font-size: 22px;
  font-weight: bold;
}
.header-notification {
  margin-right: 24px;
}
.uxf-header-title .dropdown-main .dropdown-toggle:after{
  top: 0.3rem !important;
}
.uxf-header-title .dropdown-main .dropdown-item{
  font-size: 12px;
  padding: .25rem 1.5rem;
}
.role-title-sm {
  display: none;
  color: $color-gray-800;
  padding-left: 10px;
  font-family: JDSansPro-Medium,Noto Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Arial,Nimbus Sans L,FreeSans,Liberation Sans,sans-serif;
}

.sr-container {
  margin-top: 1rem;
}

thead > tr > th {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   

}

tbody  tr  td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 210px;
}

.active-label {
  // color: $active-label-color;
}

.inactive-label {
  // color: $inactive-label-color;
}

.sr-breadcrumb {
  display: none;
}


// Media Queries

@media (min-width: 768px) {
  .uxf-header-title-link{
    display: none;
  }
  .modal-body
  {
    .btn-outline-primary,
    .btn-success,
    .btn-primary,
    .btn-outline-info,
    .btn-secondary,
    .btn-danger,
    .btn-info,
    .btn-warning {
      min-width: 160px;
    }
  }

  // Data table Fixed style goes here

.fixed-column {
  position: sticky !important;
  left: -15px;
  background: #fff;
  z-index: 1;
}

td.fixed-column:hover {
  background-color: #ebf2eb;
}

// .even .fixed-column {
//   background-color: #f7f7f7;
// }


//
 }

 // Vendor service request and claims responsive styles
 .banner-padding{
  padding-bottom: 0px;
}
@media (max-width: 576px) {
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px !important;
  }
  /* Let's get this party started */


/* Track */
::-webkit-scrollbar-track {
 // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 2px;
  border-radius: 2px;
  scrollbar-width: thin;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(120,120,120); 
  -webkit-box-shadow: inset 0 0 2px rgba(120,120,120); 
  scrollbar-width: thin !important;
}
::-webkit-scrollbar-thumb:horizontal {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(120,120,120); 
  -webkit-box-shadow: inset 0 0 2px rgba(120,120,120); 
  scrollbar-width: thin !important;
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(120,120,120); 
scrollbar-width: thin !important;
}
  .banner-padding{
    padding-bottom: 4px;
  }
  .table-tab-wrapper {
    padding: 12px;
    background-color: #f7f7f7;
  }
  .tab-pane.active {
    padding: 0 1.25rem 1.25rem !important;
    overflow: hidden;
  }
  .module-title {
    font-size: 1.2rem;
    padding-left: 12px;
    color: black;
  }
  .sr-breadcrumb {
    display: block;
  }
  .cms-title {
    font-size: 18px !important;
  }
  .role-title-sm {
    display: block;
    font-size: 16px !important;
  }
  .sr-container {
    margin-top: 0.25rem;
  }
  .breadcrumb {
    padding-left: 1.6rem;
    padding-right: 0;
    font-size: 12px !important;
  }
  .header-notification {
     
    border-radius: 0;
    padding: 0.75rem 1rem !important;
    box-shadow: inset 1px 0 0 #ddd;
    margin-right: 0px;
    
  }
  .set-logo {

    width: 155px !important;
  }
  .table-responsive {
    padding: 0;
    max-height: 20rem;
  }

  // .table-striped tbody tr:nth-of-type(2n) {
  //   background-color: #fff;
  // }
  #DataTables_Table_0_paginate > .pagination {
    justify-content: flex-end !important;
  }
  .dataTables_wrapper {
    margin-bottom: 0 !important;
  }
  .jd-toast {
    width: 90vw !important;
  }
  .fixed-column {
    left: auto !important;
  }
}

// slider css start

.custom-slider .ngx-slider .ngx-slider-bar {
  background: #CCCCCC;
  height: 4px;
}
.custom-slider .ngx-slider .ngx-slider-selection {
  background:  color-white;
  border: 2px solid $color-secondary;
}

.custom-slider .ngx-slider .ngx-slider-pointer {
  width: 14px;
  height: 14px;
  color: color-white;
  background-color: $color-white;
  top:-6px;
  border: 1px solid #707070;
}

.ngx-slider.animate .ngx-slider-pointer:focus,.ngx-slider.animate .ngx-slider-pointer:active,.ngx-slider.animate .ngx-slider-pointer:focus-visible{
  outline: none;
  border: 1px solid #707070;
}

.custom-slider .ngx-slider .ngx-slider-pointer:after {
  display: none;
}

.custom-slider .ngx-slider .ngx-slider-bubble {
  bottom: 14px;
}

.custom-slider .ngx-slider .ngx-slider-limit {
  font-weight: bold;
  color: orange;
}
.custom-slider .ngx-slider .ngx-slider-bubble {

  // display: none;
}
.custom-slider .ngx-slider .ngx-slider-tick {
  width: 0px;
  height: 0px;
  margin-left: 0px;
  border-radius: 0;
  background: #ffe4d1;
  top: 4px;
}

.custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background: orange;
}
// slider css end


.multiselect-dropdown .dropdown-btn .selected-item { 
  font-size: .95rem !important;
}
jd-select-list .multiselect-dropdown .dropdown-btn {
  font-size: .95rem !important;
}
.modal .modal-footer {
  min-height: 3.0rem;
   padding: 0.5rem !important
}
.modal .modal-header {
  padding: 1rem 1rem 1rem 1.25rem;
  min-height: 1.5rem;
}

::placeholder {
  color: #837c7c ;
  font-size: .8rem;
  
}
.multiselect-dropdown .dropdown-btn span {
  font-size: .8rem !important;
}
.multiselect-item-checkbox input[type=checkbox]+div {
  font-size: .8rem !important;
}
.multiselect-dropdown .dropdown-btn .selected-item,input,textarea ,.input-group>.input-group-append>.input-group-text,.input-group>.input-group-append>.input-group-text {
  font-size: .8rem !important;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text,table.dataTable thead>tr>th {
  font-size: .8rem !important;
}

.button-minsr-width{
  min-width: 9rem !important;
}



  .body-fixed{
    height: 300px !important; overflow: hidden;
    
  }
  .error{
    font-size: .8rem;
  }

  .uxf-nav-title,.role-title-sm {
    font-family: Noto Sans  !important;
    font-size: 1.125rem;
  }
  // Styles for text editor
  .quill-container {
    .ql-toolbar{
      margin-top: 35px;
      border: 1px solid #666;
    }
    .ql-container{
      height: 200px !important;
      border: none;
    }
  }
  
  .uxf-panel-search input:hover::-webkit-input-placeholder {
  
    transition: text-indent 20s 0s ease; 
    text-indent: -200%;
   
} 
.uxf-panel-search input:hover::-ms-input-placeholder {
  
  transition: text-indent 20s 0s ease; 
  text-indent: -200%;
 
} 

.child-border td{
  border-top: none !important;
  text-align: left;
  //width:190px;
}
// /* Let's get this party started */
// ::-webkit-scrollbar {
//   width: 2px;
//   height: 5px;
// }
.selected-list .c-list .c-token {
  list-style: none;
  border-radius: 2px;
  margin-right: 4px;
  margin-top: 2px;
  float: left;
  position: relative;
  padding: 4px 22px 4px 8px;
}
.selected-list .c-list .c-token {
  list-style: none !important;
  border-radius: 2px !important;
  margin-right: 4px !important;
  margin-top: 2px !important;
  float: left !important;
  position: relative !important;
  padding: 4px 22px 4px 8px !important;
}
.selected-list .c-list .c-token {
  background: #367C2B !important;
}
$primary: #367C2B;
$base-color:
#367C2B;
// /* Track */
::-webkit-scrollbar-track {
 // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 2px;
  border-radius: 2px;
  scrollbar-width: thin;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(120,120,120); 
  -webkit-box-shadow: inset 0 0 2px rgba(120,120,120); 
  scrollbar-width: thin !important;
}
::-webkit-scrollbar-thumb:horizontal {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(120,120,120); 
  -webkit-box-shadow: inset 0 0 2px rgba(120,120,120); 
  scrollbar-width: thin !important;
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(120,120,120); 
scrollbar-width: thin !important;
}




$btn-background:
#fff;




$btn-border:
#666666;




$btn-text-color:
#333;




$btn-arrow:
#367C2B;














$token-background:
$base-color;




$token-text-color:
#fff;




$token-remove-color:
#fff;









$box-shadow-color:
#959595;




$list-hover-background:
#f5f5f5;




$label-color:
#000;




$selected-background:
#e9f4ff;









.c-btn{




background:
$btn-background;




border:
1px
solid
$btn-border;




color:
$btn-text-color;




}




.selected-list{




.c-list{




.c-token{




background:
$token-background;




.c-label{




color:
$token-text-color;




}




.c-remove {




svg {




fill:
$token-remove-color;




}




}









}




}




.c-angle-down,
.c-angle-up{




svg {




fill:
$btn-arrow;




}




}




}




.dropdown-list{




ul{




li:hover{




background:
$list-hover-background;




}




}




}




.arrow-up,
.arrow-down {




border-bottom:
15px
solid
#fff;




}









.arrow-2{




border-bottom:
15px
solid
#ccc;




}




.list-area{




border:
1px
solid
#ccc;




background:
#fff;




box-shadow:
0px
1px
5px
$box-shadow-color;




}




.select-all{




border-bottom:
1px
solid
#ccc;




}




.list-filter{




border-bottom:
1px
solid
#ccc;




.c-search{




svg {




fill:
#888;




}




}




.c-clear {




svg {




fill:
#888;




}




}




}























.selected-item{




background:
$selected-background;




}



  .c-btn.disabled {
    background: #e5e3e3 !important;
}
.pure-checkbox input[type=checkbox]+label {
  font-size: .8rem !important;
}
.selected-list .c-btn {
  font-size: 11px !important;
}

.selected-list .c-list .c-token {
  max-width: 77% !important;
}
.uxf-backdrop {
  position:absolute;
}
