
$active-label-color: #367C2B;
$inactive-label-color: #fa0612;
$color-primary: #367C2B;
$color-secondary: #ffde00;
$color-black: #000000;
$color-gray-900: #333333;
$color-gray-800: #666666;
$color-gray-700: #999999;
$color-gray-600: #aaaaaa;
$color-red: #c21020;
$color-blue: #337DC1;
$color-white: #fff;


$activate-icon-fill: $color-primary;
$inactivate-icon-fill: $color-red;
