.modal-body
{
    height:300px;
    overflow-y: scroll;
}
.add-category{
    min-width: 90px;
    padding: 6px;
    margin-top: 10px;
}
.add-category1{
    min-width: 90px;
    padding: 4px;
    height: 34px;
    margin-top: 5px;
}
.mt-25{
    margin-top: 25px;
}
.mt-34{
    margin-top: 21px;   
}
.modal-lg {
    max-width: 970px;
}
.removebtn{
    margin-top: 37px;
}
// .modal-body{
//     height: 500px;
// }