.viewOrderHeader {
    border-bottom: 1px solid #ddd;
    ::ng-deep.dropdown-container {
        width: 110px;
        .dropdown-btn {
            border: 1px solid #fede32 !important;
        }
        .dropdown-multiselect__caret {
            display: none;
        }
    }
    svg {
        position: absolute;
        right: 22px;
        top: 30px;
    }
}
.orderDesc{
        .textDesc{
            font-size: 14px;
            color: #215A18;
            padding: 10px 0;
        }
        .textValue{
            font-weight: 600;
            color: #333333;
            font-size: 14px;
            padding: 10px 0px 0px 10px;
        }
}
.back-section{
    display: flex;
    // margin-left: 35px;
    // margin-bottom: 15px;
    // .pointer{
    //     margin-top: 7px;
    //     margin-right: 15px;
    // }
}
.clipText{
    // display: -webkit-box;
    // -webkit-line-clamp: 4;
    // -webkit-box-orient: vertical;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clipTextAddress{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    // width: 50%;
}
