<div class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <!-- <div class="row justify-content-center">  -->
      <!-- <div class="modal-content">
        <form class="bg-white  rounded-5 shadow-5-strong p-5">
      
          <div class="form-outline mb-4">
            <label class="form-label">RACFID</label>
            <input type="text" class="form-control" [(ngModel)]="racfId" name="racfId" />
          </div>

          
          <div class="form-outline mb-4">
            <label class="form-label" >Password</label>
            <input type="password" [disabled]="false" class="form-control" />
          </div>

        
          <button type="submit" class="btn btn-primary btn-block btn-sign" [disabled]="loading" (click)="onLogin1()">Sign in</button>
        </form>
      </div> -->
     <!-- </div> -->

    <!-- For OKta -->
    <!-- <div class="modal-content">
      <form class="bg-white  rounded-5 shadow-5-strong p-5">
    <button type="submit" class="btn btn-primary btn-block btn-sign" *ngIf="!isAuthenticated" (click)="onLogin()">Sign in</button>
      </form>
    </div> -->

    <!-- Ends -->
    
  </div>
</div>