.uxf-label{
    font-size: .95rem;
}
jd-select-list .multiselect-dropdown .dropdown-btn .selected-item {
    border: none !important;
    background-color: #367C2B !important;
    max-width: 83% !important;
    white-space: nowrap !important ;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

#data:hover{
    overflow: visible;
    white-space: normal;
    width: auto;
    position: absolute;
    background-color:#FFF;
}
// ::ng-deep   .dropdown-list  {

//  top: -120px;
// }
