// ::ng-deep .jd-Canvas-Container .upper-canvas  {
//   border: 2px solid rgb(148, 147, 147) !important;
// }

.jd-Canvas-Container{
  background-color: #fff;
   //border: 2px solid rgb(148, 147, 147);
  padding: 0px;
}
.button {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  margin: 8px;
  cursor: pointer;
}

.button div {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  padding: 0;
  top: 10%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10%;
  background: #eeeeee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: ease .3s;
}

.button div:hover {
  padding: 10px;
}

.John-Deere-Green .button div {
  background: #367c2b;
}

.John-Deere-Yellow .button div {
  background: #ffde00;
}

.Coriander .button div {
  background: #bab994;
}

.Night-Rider .button div {
  background: #f2a900;
}

.Yellow-Sea .button div {
  background: #2196F3;
}

.Athens-Gray .button div {
  background: #3F51B5;
}

.Rolling-Stone .button div {
  background: #3F51B5;
}
.Canary-Yellow .button div {
  background: #3F51B5;
}

.layer {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  /*transition: ease .3s;*/
  z-index: -1;
}

.orange input:checked ~ .layer {
  background: #F4511E;
}

.amber input:checked ~ .layer {
  background: #FFB300;
}

.lime input:checked ~ .layer {
  background: #7CB342;
}

.teal input:checked ~ .layer {
  background: #00897B;
}

.blue input:checked ~ .layer {
  background: #1E88E5;
}

.indigo input:checked ~ .layer {
  background: #3949AB;
}
input {
  display: none;
}
.activeColor
{
  padding:10px !important ;
}

fieldset {
  background-color: #eeeeee;
  align-items: center;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
  font-size: 0.875em; /* 14px/16=0.875em */
}
::ng-deep .jd-Canvas-Container .upper-canvas  {
  //border: 2px solid rgb(148, 147, 147) !important;
}

::ng-deep jd-edit-image-collages  .uxf-label  {
  font-size: 0.8rem !important;

}
::ng-deep label{
  font-size: 0.8rem !important;
}
.group-contianter{
  background-color: #FAFAFA;
}
.lower-canvas{
  background-color: #FAFAFA;
}
.corner-border{
  border-radius: 10px ;
}
.card-body {

  padding: 0.25rem;
}

.group-contianter{
  background-color: #f1ebeb;
}
.lower-canvas{
  background-color: #ffffff;
}
#canvasContainer{
  border: solid 1px rgb(158, 29, 29) !important;
  resize: both;
  overflow: hidden;

}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #54a067 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
    height: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #54a067;
    border-radius: 13px;
    border: 3px solid #ededed;
  }

  .card-body {

    padding: 0.25rem;
  }
.layout-box{
width:50px;
height: 50px;
display: inline-block;

}
.custom-control-label:after, .custom-control-label:before {
  height: 0.7rem;
  left: 55px;
  top: 2.3595rem;
  width: 0.7rem;
}

.custom-control-label {

  padding: 0 0.25rem 0 0.2rem;
}
.bg-color-white{
  background-color: #FFFFFF !important;
}




.triangle {
  position: relative;
  bottom: 14px;
  left: 96%;
  width: 10%;
  height: 10%;
  -webkit-transform: rotate(305deg);
  background: black;
  min-width: 20px;
  min-height: 20px;

  z-index: 100000000000000000000000000000000000000000000;
}

