.user-access-contorl {
    padding-top: 35px;
    
    &- {
        &tab-section {
            width: 100%;

            .btn {
                width: 230px;
                background-color: #F7F7F7;
                border-top: 2px solid #F7F7F7;
                font-size: 14px;
                color: #377C2B;
                margin-right: 10px;

                &.active {
                    background-color: #FFF;
                    border-top-color: #377C2B;
                    color: #333333;
                }
            }            
        }
    }

    label {
        font-size: 14px;
        color: #333333;
    }

    .col-50 {
        width: 50%;
        float: none;
        padding-right: 100px;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }

    .button_container {
        width: 100%;
        float: none;
        display: inline-block;
        text-align: center;
    }
}

.uxf-label{
    font-size: .95rem;
}
.multiselect-dropdown .dropdown-btn .selected-item {
    border: none !important;
    background-color: #367C2B !important;
    max-width: 83% !important;
    white-space: nowrap !important ;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

#data:hover{
    overflow: visible;
    white-space: normal;
    width: auto;
    position: absolute;
    background-color:#FFF;
}
