.uxf-search-bar {
    height: 2.11rem !important;
   
}

.uxf-search-bar.form-control{

    font-size: .675rem;
   
}

::placeholder {
    color: #837c7c ;
    
}

.uxf-search.input-group.uxf-panel-search .uxf-search-bar-submit-icon {
    border: none;
    padding: .5625rem .5625rem .425rem;
}
.icon-box{
   border : 1px solid #707070;
   color: #367C2B; 
   background-color: transparent;
}

::ng-deep .test{
    white-space: break-spaces !important;
    min-width: 175px !important;
}