<div class="table-main-container">
 <div class="d-flex" style="justify-content: flex-end;">
  <div #searchBox *ngIf="!hideSearchBar" class="input-group uxf-search uxf-panel-search mb-2 d-flex justify-content-between">
    <input #txtSearch (keyup.enter)="onSearchClick(txtSearch.value)" (keyup)="onSearchKeyup(txtSearch.value)"
      aria-label="Search" class="uxf-search-bar form-control" type="search"
      placeholder="{{model.options.searchPlaceHolder || 'Search'}}" name="s" [class.active]="txtSearch.value">
    <div class="input-group-append">
      <button class="uxf-search-bar-clear-icon uxf-btn-icon" type="reset" aria-label="reset"
        (click)="onClearSearch(txtSearch.value)">
        <svg focusable="false" aria-hidden="true" class="uxf-icon-remove" fill="#666"
          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
          </path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </button>
      <button aria-label="Submit search" class="btn uxf-search-bar-submit-icon"
        (click)="onSearchClick(txtSearch.value)">
        <svg focusable="false" aria-hidden="true" class="uxf-icon-search" height="24" viewbox="0 0 24 24" width="24"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
          </path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </button>
    </div>
  </div>
    <div [hidden]="!showFilter" id="filter-button">
        <button #filterButton class="btn btn-secondary py-1 px-1 ml-2" title="Filters" [ngClass]="[filterApplied? 'btn-primary' : 'btn-secondary']" type="button" style="color: #6e6e6e;" (click)="onFilterClick()">
            <span class="uxf-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#666666" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
              </svg>
            </span>
            <!-- Filters -->
        </button>
    </div>
    <div [hidden]="!exportExcel" style1="margin-left: auto;">
        <button type="button" style="display: inline-block;"
            class="btn btn-outline-primary ml-1" (click)="onExportClick()">
            <svg focusable="false" aria-hidden="true" width="15" height="13" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 20">
                <path
                    d="M2 0C.9 0 .01.9.01 2L0 18c0 1.1.89 2 1.99 2H14c1.1 0 2-.9 2-2V6l-6-6H2zm7 7V1.5L14.5 7H9zm-2.34 7.39l-3.45-5.1h2.73l2.1 3.42 2.175-3.42h2.58L9.36 14.405 13.095 20H10.29l-2.34-3.705L5.565 20h-2.64l3.735-5.61z"
                    fill-rule="nonzero" fill="#367C2B">
                </path>
            </svg>
            Export Excel
        </button>
    </div>
 </div>


  <div class="table-container" #tableScroll *ngIf="dtOptions">
    <table  datatable [dtOptions]="dtOptions" class="table table-hover"
      [ngClass]="{'row-clickable': rowClickable, 'dataTables_disable':noData}">
      <td *ngIf="noData" valign="top" colspan="7" class="dataTables_empty">No Data Found</td>
    </table>
  </div>
</div>
<!-- Action Menu -->
<div #actionMenu [hidden]="!showActionMenu" class="dt-action-menu" [style.top.px]="actionMenuTop"
  [style.left.px]="actionMenuLeft">
  <ul class="nav card flex-column">
    <li *ngFor="let menu of actionMenus" class="nav-item" [hidden]="getActionMenuStatus(menu)">
      <a class="nav-link d-flex align-items-center" (click)="onActionMenuItemClick(menu)">
        <span *ngIf="menu.icon" [innerHtml]="menu.icon | noSanitize"></span>
        {{menu.label}}
      </a>
    </li>
  </ul>
  <!-- <a (click)="delete()" class="active">Delete</a>
    <a (click)="edit()">Edit</a> -->
</div>

<jd-datatable-filter [filters]="model.options.filters"  class="filter-modal" [state]="showFilterDialog" [hidden]="!showFilterDialog"
  (onClose)='onCloseFilter()' (onFilterUpdated)="onFilterUpdated($event)" (onFilterButtonClick)="onFilterCallback($event)"
  [ngStyle]="{'top':filterDialogTop+'px','right':filterDialogRight+'px'}"></jd-datatable-filter>
