.back-section{
    display: flex;
    margin-left: 35px;
    margin-bottom: 15px;
    // .pointer{
    //     margin-top: 7px;
    //     margin-right: 15px;
    // }
}
::ng-deep.form-control,::ng-deep.dropdown-container{
    width: 85% !important;
}
button.extend{
    width: 150px;
    margin-left: 10px;
  }
::ng-deep .form-group{
    margin-top: 1rem;
    margin-bottom: 0;
}
.date-time .form-group{
     margin-top: 0 !important;
}

.expireDate{
    font-size: 0.95rem;
    font-weight: 700;
    position: relative;
    top: 15px;
}
.expireDate1{
    font-size: 0.95rem;
    font-weight: 700;
    position: absolute;
    top: -6px;
    margin-top: 16px;
}
.my_class1{
    display: block;
}
.my_class2{
    display: none;

}
    