.cal-icon{
    background-image: url('../../../../assets/icons/calendar.png');
    background-position: right .375rem center;
    background-repeat: no-repeat;
    padding-right: 2.125rem;
}
.uxf-label{
    font-size: .95rem;
}
