body {
  margin: 0;
  background-color: #e1e6c4;
}

* {
  box-sizing: border-box;
}

/* Create columns that floats next to each other */
.column {
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/******************
* Style for title *
******************/
h1 {
  color: #239aca;
  text-align: center;
}

h1:first-letter{
  color:#1B6685;
}

/******************************
* Style for left side content *
******************************/
#leftSide {
  color: #aaa;
  width: 96%;
  padding: 5px;
 // margin: 0 20px;
  overflow: auto;
  background-color: #fff;
  border: dashed 1px #bbb;
  position: absolute;
  overflow: auto;
  z-index: 999999;
  box-shadow: 0px 0px 0px 5px #f7f7f7, 0px 0px 2px 7px #bbb, 0px 0px 5px 5px #f7f7f7 inset;
}

/***************************
* Style for drop zone area *
***************************/
#dropZone {
  padding: 30px 0;
  margin-bottom: 8px;
  text-align: center;
}

#dropZone.dragover {
  background: #DCDCDC;
}

/**************************
* Style for image preview *
**************************/
img {
  margin: 0 3px;
}
img:hover {
  cursor: grab;
}

/*********************************************
* Style for model selection drop-down button *
*********************************************/
#buttonsArea {
  margin: 0 15px 0 50px;
}

select {
  color: #333;
  display: block;
  max-width: 100%;
  border-radius: 3px;
  height: auto !important;
  border: 1px solid #e3e3e3;
  line-height: 16px !important;
  padding: 10px 70px 10px 13px !important;
  //background: #fff url("selectbox_arrow.png") right center no-repeat;
  appearance: none; /* this is must */
  -webkit-appearance: none;
  -moz-appearance: none;
}

/*****************************************************************
* Style for single upload section that changes canvas background *
*****************************************************************/
#singleUploadSection {
  color: #333;
  width: 194px;
  padding: 6px;
  margin: 10px 0;
  font-size: 13px;
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
}

/*******************
* Style for canvas *
*******************/
#background {
padding: 5px;
  position: absolute;
  background-color: #fff;
  border: 2px solid rgb(148, 147, 147);
  padding: 0px;

// border: 1px 1px 1px 1px rgba(0, 0, 0, 0.2)
}

.layer {
padding: 5px;
  position: absolute;
  background-color: #fff;
}
// :host {
//   display: block;
//   width: 316px;
//   padding: 16px;
// }
.color-wrapper {
  display: flex;
  height: 200px;
}

.input-wrapper {
  margin-top: 16px;
  display: flex;
  border-radius: 1px;
  border: 1px solid rgb(220, 220, 220);
  padding: 8px;
  height: 32px;
  justify-content: center;
}

.color-div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgb(220, 220, 220);
}

.text {
  flex: 1;
  font-family: 'Helvetica';
  line-height: 32px;
}
.canvas-container{
  position:absolute !important;
  z-index: 999999;
}
.row-cust{
  display: flex;
    flex-wrap: wrap;
}
.dt-action-menu {
  position: fixed;
  z-index: 9;
  transform: translateX(-100%);
  cursor: pointer;
  .nav-link {
      color: #333333;
      font-size: .775rem;
      &:hover {
          color: #000000
      }
  }
}
