<div class="modal" tabindex="-1" role="dialog" aria-labelledby="addeditfeedback">
    <div class="modal-dialog modal-dialog-centered modal-md" role="feedback">
        <div class="modal-content" *ngIf="model">
            <div class="modal-header">
                <h5 class="modal-title"><b>{{"HOME.ADDFEEDBACK" | translate}}</b></h5>
                <button type="button" data-dismiss="modal" class="btn uxf-btn-icon" aria-label="Close"
                    (click)="onClose()">
                    <svg focusable="false" aria-hidden="true" fill="#666666" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewbox="0 0 24 24">
                        <path
                            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                        </path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </button>
            </div>

            <form action="" novalidate="novalidate" #addeditfeedbackform="ngForm">
                <div class="modal-body" *ngIf="model">
                    <div class="row">
                        <div class="col">
                            <jd-text-area name="feedback" class="feedbackForm" #feedback="ngModel" [(ngModel)]="model.feedBack"  [label]="'HOME.SUBMITYOURFEEDBACK' | translate" [markAsRequired]="true"  required  ></jd-text-area>
                            <span *ngIf="feedbackValue" class="feedbackError">{{"HOME.COMMAND" | translate}} </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-end ">
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary ml-3" (click)="onClose()">{{"HOME.CANCEL" | translate}}</button>
                        <button class="btn btn-primary ml-3" (click)="onsave()">{{"HOME.SUBMIT" | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>